@charset "utf-8";

.contact{
  &.page{
    background: inherit;
    background-color: #F7F7F7;
  }
  &__inner{
    @include media_queries(pc){
      padding-bottom: 130px;
    }
    @include media_queries(sp){
      padding-bottom: 65px;
    }
  }
  &__faq{
    @include media_queries(pc){
      margin-top: 50px;
    }
    @include media_queries(sp){
      margin-top: 20px;
    }
    &-title{
      font-size: 0;
    }
    &-content{
      margin-top: 8px;
      @include media_queries(pc){
        &:first-of-type{
          margin-top: 40px;
        }
      }
      @include media_queries(sp){
        &:first-of-type{
          margin-top: 25px;
        }
      }
    }
    &-category{
      position: relative;
      background-color: #fff;
      cursor: pointer;
      @include media_queries(pc){
        @include fontsize(20);
        padding: 20px 40px;
      }
      @include media_queries(sp){
        @include fontsize(18);
        padding: 20px 25px;
      }
      &::before,
      &::after{
        position: absolute;
        content: '';
        width: 18px;
        height: 1px;
        background-color: $baseColor;
        top: 50%;
        transition: all 0.3s;
        transform: translateY(-50%);
        @include media_queries(pc){
          right: 30px;
        }
        @include media_queries(sp){
          right: 25px;
        }
      }
      &::after{
        transform: rotate(90deg);
      }
      &.is-active{
        &::after{
          transform: rotate(0deg);
        }
      }
    } 
    &-description{
      display: none;
      @include media_queries(pc){
        padding: 50px 0 50px 30px;
      }
      @include media_queries(sp){
        padding: 35px 0 35px 10px;
      }
    }
    &-item{
      &:not(:first-of-type){
        margin-top: 30px;
      }
      &-q,
      &-a{
        position: relative;
        @include media_queries(pc){
          padding-left: 35px;
        }
        @include media_queries(sp){
          padding-left: 30px;
        }
        &::before{
          position: absolute;
          font-family: 'Zen Kaku Gothic New', sans-serif;
          font-weight: 700;
          top: 0;
          left: 0;
          line-height: 1;
          @include media_queries(pc){
            @include fontsize(28);
          }
          @include media_queries(sp){
            @include fontsize(22);
          }  
        }
      }
      &-q{
        font-weight: 700;
        @include media_queries(pc){
          @include fontsize(18);
        }
        @include media_queries(sp){
          @include fontsize(16);
        }
        &::before{
          content: 'Q';
        }
      }
      &-a{
        margin-top: 15px;
        word-break: break-all;
        @include media_queries(pc){
          @include fontsize(16);
        }
        @include media_queries(sp){
          @include fontsize(14);
        }
        &::before{
          content: 'A';
          color: $acsentColor;
          padding-left: 2px;
        }
        a{
          text-decoration: underline;
          color: #007CCF;
        }
      }
    }
    &-lead{
      @include media_queries(pc){
        @include fontsize(18);
      }
      @include media_queries(sp){
        @include fontsize(14);
      }
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include media_queries(pc){
        gap: 16px;
        margin-top: 65px;
      }
      @include media_queries(sp){
        gap: 8px;
        margin-top: 25px;
      }
    }
    .mod-text-link{
      margin: 0 auto;
      @include media_queries(pc){
        margin-top: 65px;
      }
      @include media_queries(sp){
        margin-top: 35px;
      }
    }
  }
  &__form{
    background-color: #fff;
    &-inner{
      @include media_queries(pc){
        width: calc(100% - 60px);
        max-width: 1120px;
        margin: 0 auto;
        padding: 105px 0 30px;
      }
      @include media_queries(sp){
        padding: 60px 0 20px;
      }
      &--comp{
        @include media_queries(pc){
          padding-top: 100px;
        }
        @include media_queries(sp){
          padding-top: 80px;
        }
      }
    }
    &-title{
      font-family: 'Zen Kaku Gothic New', sans-serif;
      width: fit-content;
      margin: 0 auto;
      z-index: 0;
      @include media_queries(pc){
        @include fontsize(32);
        font-weight: 700;
        padding-left: 25px;
        margin-top: 120px;
      }
      @include media_queries(sp){
        @include fontsize(22);
        font-weight: 400;
        padding-left: 15px;
        margin-top: 20px;
      }
      &::after{
        position: absolute;
        content: 'CONTACT';
        font-weight: 900;
        color: #FAFAFA;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -15px;
        z-index: -1;
        @include media_queries(pc){
          @include fontsize(170);
        }
        @include media_queries(sp){
          @include fontsize(80);
        }
      }
    }
    &-step{
      display: flex;
      justify-content: center;
      @include media_queries(pc){
        margin-top: 140px;
        gap: 56px;
      }
      @include media_queries(sp){
        margin-top: 65px;
        gap: 30px;
      }
    }
    &-status{
      color: #757578;
      text-align: center;
      font-weight: 700;
      font-family: 'Zen Kaku Gothic New', sans-serif;      
      &.is-active{
        color: #333;
        .contact__form-number{
          border: $acsentColor 3px solid;
          color: $acsentColor;
          background-color: #FFF;
        }
      }
      &.is-done{
        color: #C5C3C3;
        .contact__form-number{
          border: $acsentColor 3px solid;
          color: #fff;
          background-color: $acsentColor;
        }
      }
      &:not(:first-child){
        .contact__form-number{
          &::after{
            position: absolute;
            content: '';
            border-radius: 20px;
            top: 50%;
            height: 4px;
            transform: translateY(-50%);
            background-color: #DDDDDD;
            @include media_queries(pc){
              width: 40px;
              left: -50px;
            }
            @include media_queries(sp){
              width: 18px;
              left: -27px;
            }
          }  
        }
      }
    }
    &-number{
      position: relative;
      border-radius: 50%;
      border: #F6F6F6 3px solid;
      background-color: #F6F6F6;
      transition: all 0.3s;
      display: block;
      box-sizing: border-box;
      text-align: center;
      margin-bottom: 10px;
      z-index: 9;
      @include fontsize(22);
      @include media_queries(pc){
        width: 60px;
        height: 60px;
        line-height: 50px;
      }
      @include media_queries(sp){
        width: 50px;
        height: 50px;
        line-height: 40px;
      }
    }
    .form{
      @include media_queries(pc){
        margin-top: 65px;
      }
      @include media_queries(sp){
        margin-top: 40px;
      }
      &__inner{
        border: #DDDDDD 1px solid;
      }
      &__item{
        display: flex;
        &:not(:first-of-type){
          border-top: #DDDDDD 1px solid;
        }
        @include media_queries(sp){
          flex-direction: column;
        }
        &-head{
          background-color: #F5F5F5;
          display: flex;
          align-items: flex-start;
          font-family: 'Zen Kaku Gothic New', sans-serif;
          position: relative;
          box-sizing: border-box;
          flex-direction: column;
          justify-content: center;
          @include media_queries(pc){
            width: 30%;
            padding: 20px;
          }
          @include media_queries(sp){
            width: 100%;
            padding: 6px 20px 7px;
          }
          .required{
            &::after{
              content: 'Required';
              @include fontsize(12);
              line-height: 1;
              color: #fff;
              background-color: #FF3B82;
              border-radius: 2px;
              padding: 2px 5px 3px;
              margin-left: 10px;
              min-width: 36px;
              box-sizing: border-box;
            }
          }
        }
        &-note{
          line-height: 1.4;
          @include media_queries(pc){
            @include fontsize(14);
          }
          @include media_queries(sp){
            @include fontsize(12);
          }
        }
        &-data{
          display: flex;
          gap: 10px;
          flex: 1;
          @include media_queries(pc){
            padding: 30px 40px;
          }
          @include media_queries(sp){
            padding: 24px 20px;
          }  
          input{
            border: #999999 1px solid;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            color: $baseColor;
            padding: 10px 15px;
            @include fontsize(14);
            @include media_queries(pc){
              max-width: 200px;
            }
          }
          input[type="file"] {
            display: none;
          }
          select{
            border: #999999 1px solid;
            border-radius: 4px;
            width: 100%;
            max-width: 200px;
            position: relative;
            color: #928F8F;
            @include fontsize(14);
            @include media_queries(pc){
              padding: 10px 35px 10px 15px;
            }
            @include media_queries(sp){
              padding: 10px 35px 10px 15px;
            }
            option{
              color: $baseColor;
            }  
          }
          textarea{
            border: #999999 1px solid;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
            word-break: break-all;
            height: 190px;
            color: $baseColor;
            padding: 10px 15px;
            @include fontsize(14);
          }
          ::placeholder{
            color: #928F8F;
            @include fontsize(14);
          }
          &--reply{
            gap: 30px;
            .wpcf7-list-item-label{
              position: relative;
              padding-left: 32px;
              &::before,
              &::after{
                position: absolute;
                content: '';
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                box-sizing: border-box;
              }
              &::before{
                width: 24px;
                height: 24px;
                border: #AAAAAA 2px solid;
                left: 0;
              }
              &::after{
                width: 12px;
                height: 12px;
                left: 6px;
                background-color: $acsentColor;
                opacity: 0;
              }
            }
            input{
              &:checked + .wpcf7-list-item-label{
                &::after{
                  opacity: 1;
                }
              }
            }
          }
          &--shop{
            @include media_queries(sp){
              flex-direction: column;
              .form__item-select--shop{
                max-width: 100%;
                select{
                  max-width: 100%;
                }
              }
            }
            .form__item-select{
              position: relative;
            }
          }
          &--inquiry{
            flex-direction: column;
            gap: 25px;
            .form__item-select{
              width: 100%;
              max-width: 410px;
            }
            select{
              width: 100%;
              max-width: 410px;
            }
            @include media_queries(sp){
              gap: 10px;
              .form__item-select{
                max-width: 100%;
              }
              select{
                max-width: 100%;
              }
            }
          }
          &--mail{
            input{
              width: 100%;
              max-width: 410px;
              @include media_queries(sp){
                max-width: 100%;
              }
            }
          }
          &--address{
            flex-direction: column;
            gap: 25px;
            @include media_queries(sp){
              gap: 10px;
            }
            .postal_code{
              max-width: 160px;
            }
            .p-street-address,
            .p-extended-address{
              max-width: 100%;
            }
          }
          &--tel{
            gap: 5px;
            align-items: center;
            @include media_queries(sp){
              gap: 3px;
            }
            input{
              max-width: 200px;
            }
            span{
              line-height: 1;
              @include media_queries(sp){
                @include fontsize(12);
              }
            }
          }
        }
        &-select{
          position: relative;
          width: fit-content;
          width: 100%;
          max-width: 200px;
          &::after{
            position: absolute;
            content: '';
            width: 7px;
            height: 7px;
            border-right: #928F8F 2px solid;
            border-bottom: #928F8F 2px solid;
            top: 18px;
            right: 15px;
            transform: rotate(45deg);
            pointer-events: none;
          }
        }
        &-file{
          display: flex;
          align-items: center;
          @include media_queries(sp){
            margin-top: 20px;
            flex-direction: column;
          }
          &-label{
            position: relative;
            border: #333 1px solid;
            border-radius: 50px;
            cursor: pointer;
            padding: 5px 16px 5px 35px;
            transition: all 0.3s;
            &::before{
              position: absolute;
              content: '';
              top: 50%;
              left: 16px;
              width: 14px;
              height: 14px;
              background: url($base-dir + 'assets/img/common/icon_upload.webp') no-repeat center center / contain;
              transform: translateY(-50%);
              @include fontsize(14);
            }
            @include media_queries(pc){
              &:hover{
                background-color: #3333331A;
              }
            }
            @include media_queries(sp){
              padding: 10px 16px 10px 35px;
            }
          }
          &-note{
            color: #757578;
            @include fontsize(14);
            margin-left: 16px;
            @include media_queries(sp){
              margin-top: 10px;
            }
          }
        }
        &-wrapper{
          display: flex;
          align-items: center;
          @include media_queries(sp){
            input{
              max-width: 160px;
            }
          }
        }
        &-postalmark{
          @include fontsize(18);
          margin-right: 10px;
        }
        &-btn{
          margin-left: 20px;
          color: #007CCF;
          text-align: left;
          @include fontsize(12);
          span{
            background: linear-gradient(transparent 95%, #007CCF 0%);
          }
        }
      }
      .wpcf7-not-valid-tip{
        @include fontsize(10);
        color: #ff0d38;
        line-height: 1.75;
        position: relative;
        padding-left: 20px;
        margin-top: 5px;
        &::before{
          position: absolute;
          content: '';
          width: 14px;
          height: 14px;
          background-color: #ff0d38;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &::after{
          position: absolute;
          content: '!';
          color: #fff;
          font-weight: bold;
          left: 5px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .wpcf7-response-output{
        text-align: center;
        border-color: #ff0d38 !important;
      }
      &.comfirm{
        .form__item-data--inquiry,
        .form__item-data--address{
          gap: 5px;
        }
      }
    }

    .agreement{
      @include media_queries(pc){
        margin-top: 80px;
      }
      @include media_queries(sp){
        margin-top: 40px;
      }
      &__sp-inner{
        @include media_queries(sp){
          width: calc(100% - 40px);
          margin: 0 auto;
        }
      }
      &__title{
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 100px;
        @include fontsize(18);
        @include media_queries(sp){
          gap: 20px;
        }
        &::before,
        &::after{
          content: '';
          width: 100%;
          border-top: #D9D9D9 1px solid;
          flex: 1;
        }
      }
      &__list{
        @include media_queries(pc){
          margin-top: 25px;
        }
        @include media_queries(sp){
          margin-top: 15px;
        }
        &-item{
          position: relative;
          @include fontsize(12);
          text-indent: -1em;
          padding-left: 1em;
          &::before{
            content: '※';
          }
        }
      }
      &__text{
        margin-top: 65px;
        text-align: center;
        @include media_queries(sp){
          @include fontsize(14);
        }
      }
      &__form{
        margin-top: 65px;
        text-align: center;
        @include media_queries(sp){
          margin-top: 20px;
        }
      }
      &__checkbox{
        display: block;
        width: fit-content;
        margin: 20px auto 0;
        &-agree{
          margin-top: 20px;
          width: fit-content;
          margin: 0 auto;
          position: relative;
          padding-left: 35px;
          cursor: pointer;
          @include media_queries(sp){
            @include fontsize(14);
          }
        }
        .wpcf7-list-item-label{
          padding-left: 34px;
        }
      }
      &__btn{
        margin-top: 40px;
        position: relative;
        &-submit{
          @include fontsize(18);
          font-weight: 700;
          border-radius: 80px;
          background-color: $acsentColor;
          color: #fff; 
          transition: all 0.3s;
          display: flex;
          justify-content: center;
          width: 100%;
          margin: 0 auto;
          box-shadow: 0px 13px 20px 0px #00000017;
          letter-spacing: 0.1em;
          @include media_queries(pc){
            padding: 22px 0;
            max-width: 350px;
          }
          @include media_queries(sp){
            padding: 17px 0;
            max-width: 345px;
          }
          &:hover{
            opacity: 0.7;
          }
          &.is-disabled{
            pointer-events:none;
          }
        }
        .agreement__check-deco{
          position: absolute;
          top: -54px;
          left: 50%;
          margin-left: -54px;
          transform: translateX(-50%);
          span{
            position: relative;
            &::before,
            &::after{
              position: absolute;
              content: '';
              border-radius: 2px;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              box-sizing: border-box;
              pointer-events: none;
            }
            &::before{
              border: #AAAAAA 2px solid;
              width: 24px;
              height: 24px;
            }
            &::after{
              width: 14px;
              height: 14px;
              left: 5px;        
              background-color: $acsentColor;
              opacity: 1;
            }
          }
        }
      }
      input{
        &:disabled + .wpcf7-spinner + input + input + .agreement__check-deco span{
          &::after{
            opacity: 0;
          }
        }
      }
    }
  }

  // 確認ページ
  &.confirm{
    background-color: #fff;
    .contact__form-inner {
      @include media_queries(sp){
        padding-top: 25px;
      }
    }
    .contact__form-title {
      @include media_queries(pc){
        margin-top: 95px;
      }
      @include media_queries(sp){
        margin-top: 75px;
      }
    }
    .contact__form-step{
      @include media_queries(pc){
        margin-top: 50px;
      }
    }
  }
  &.comp{
    background-color: #fff;
  }
  .mod-text-btn{
    @include media_queries(pc){
      margin: 0 auto 50px 0;
    }
    @include media_queries(sp){
      margin: 0 auto 50px 20px;
    }
    &__arrow{
      @include media_queries(sp){
        width: 44px;
        height: 44px;
        &:after{
          right: 13px;
        }
      }
    }
    &--black{
      .mod-text-btn__arrow{
        transform: rotate(180deg);
      }
    }
  }
  .contact__form-title-comp{
    font-weight: 700;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    @include media_queries(pc){
      @include fontsize(30);
    }
    @include media_queries(sp){
      @include fontsize(22);
    }
  }
  .contact__form-text-comp{
    margin: 65px auto 0;
    @include media_queries(pc){
      width: calc(100% - 60px);
      max-width: 835px;
      text-align: center;
    }
    @include media_queries(sp){
      width: calc(100% - 40px);
    }
  }
  .contact__breadcrumbs{
    @include media_queries(sp){
      width: calc(100% - 40px);
      margin: 0 auto;
    }
  }
  .wpcf7-list-item{
    margin-left: 0;
  }
  .wpcf7-radio{
    display: flex;
    gap: 25px;
  }
} 



